/*Google Font Import always goes at the top of stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Spectral+SC:wght@600&display=swap');

/*Asterisk wildcard element, targets all elements of the page*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*body element and main target headings*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebfecf;
    color: #000000;
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-family: "Spectral SC", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(235, 254, 207);
}

h2 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(235, 254, 207);
    text-transform: capitalize;
}

h3 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 1px;
    color: rgb(51, 62, 29);
    text-transform: uppercase;
}

h4 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(51, 62, 29);
    text-transform: uppercase;
}

p {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(51, 62, 29);
}

/*header element*/
header {
    background-color: rgb(51, 62, 29);
    color: rgb(235, 254, 207);
    padding: 4px 10px 10px 10px;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 0px 0px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*controls text colour*/
header a {
    text-decoration: none;
    color: #ebfecf;
    font-size: 130%;
}

.selected {
    text-decoration: underline;
    color: rgb(248, 158, 235);
}

#menu {
    font-size: medium;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/*navbar styles including dropdown toggle across all platforms*/
nav {
    position: absolute;
    /*controls background colour of dropdown*/
    background-color: #333E1D;
    width: 100%;
    left: 0;
    padding: 1rem 1rem;
    box-shadow: 0px 2px 0px 0px;
    display: none;
    top: 100%;
}

/*navbar toggle function styles*/
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main element*/
main {
    flex: 1 auto;
    margin-top: 200px;
}

#reasons {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    padding: 2px;
}

#reasons h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-mental > div,
#benefits-physical > div {
    flex-direction: row;
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits-mental > p,
#benefits-physical > p {
    flex-direction: column;
    padding: 0 20px;
}

hr {
    border-top: 1px solid #333E1D;
    margin: 3px 0;
}

/*hero image styles*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/gardening-hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

/*The 'a' in rgba stands for alpha and controls opacicity of element*/
#cover-text {
    background-color: rgba(51, 62, 29, .8);
    font-size: 90%;
    position: absolute;
    bottom: 45px;
    min-height: 150px;
    width: 70%;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

#circle-cover-background {
    height: 90vw;
    width: 90vw;
    background: url("../images/poppy.jpg") no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
}

#reason-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#circle-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/lavender.jpg") no-repeat top center/cover;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

/*footer element*/
#social-media {
    display: flex;
    list-style-type: none;
    background-color: #333E1D;
    color: rgb(235, 254, 207);
    text-align: center;
    padding: 15px 0;
    justify-content: space-evenly;
}

#social-media i {
    padding: 7px 7px 7px 7px;
}

#about {
    margin: 15px 15px 15px 15px;
}

#quick-tips {
    margin: 25px 25px 25px 25px;
}

/*media queries to adjust mobile design to larger screen sizes*/
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: sticky;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    header a {
        text-decoration: none;
        color: #ebfecf;
        font-size: 140%;
    }

    #menu {
        display: flex;
        text-align: end;
        font-size: large;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.5rem 0 0.5rem 0;
    }

    /*hero image*/
    #cover-text {
        width: 350px;
        right: 215px;
        margin: 2px 2px 2px 2px;
        text-align: center;
    }

    #main {
        margin-top: 250px;
    }

    /*benefit section*/
    #benefits-mental, #benefits-physical {
        display: flex;
        flex-direction: column;
        width:65%;
        font-size: larger;
    }

    #benefits-mental > div, #benefits-physical > div {
        width: 75%;
    }

    #benefits-physical > div {
        text-align: end;
        align-self: flex-end;
    }

    #benefits-physical {
        align-self: flex-end;
    }

    #footer {
        margin-top: 25px;
    }

    #about {
        margin-top: 65px;
        margin-bottom: 65px;
        text-align: center;
    }

    #quick-tips {
        justify-content: center;
        text-align: center;
    }
}

/*larger devices 992px and upwards*/
@media screen and (min-width: 992px) {

    nav {
        display: block;
        position: sticky;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    nav li a:hover {
        border-bottom: 2px solid rgb(248, 158, 235);
    }

    header a {
        text-decoration: none;
        color: #ebfecf;
        font-size: 150%;
    }

    main {
        margin-top: 110px;
    }

    #menu {
        display: flex;
        text-align: end;
        font-size: xx-large;
    }

    #cover-text {
        width: 225px;
        align-content: center;
        font-size: large;
        padding: 10px 10px 10px 10px;
        bottom: 50px;
    }
}

/*media query for screens 1200 pixels and upwards */
@media screen and (min-width: 1200px) {

    /*header*/
    nav {
        display: block;
        position: sticky;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    header a {
        text-decoration: none;
        color: #ebfecf;
        font-size: 140%;
    }

    #menu {
        display: flex;
        text-align: end;
        font-size: 140%;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.5rem 0 0.5rem 0;
    }

    /*hero image*/
    #cover-text {
        width: 400px;
        height: 400px;
        right: 400px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        font-size: x-large;
        bottom: 50px;
        background-color: rgba(51, 62, 29, 0.9)
    }

    #main {
        margin-top: 250px;
    }

    #reasons h3 {
        font-size: 375%;
    }

    /*benefit section*/
    #benefits-mental, #benefits-physical {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-mental > div, #benefits-physical > div {
        flex: 1;
    }

    #reasons-image {
        order: 0;
    }
    #benefits-mental {
        align-self: flex-start;
    }

    #benefits-physical {
        order: 1;
        align-self: flex-end;
    }

    footer {
        margin-top: 80px;
    }
}