/*Google Font Import always goes at the top of stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Spectral+SC:wght@600&display=swap');

/*Asterisk wildcard element, targets all elements of the page*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*body element and main target headings for mobile devices*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebfecf;
    color: #000000;
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-family: "Spectral SC", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(235, 254, 207);
    font-size: 96%;
}

h2 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(51, 62, 29);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-size: 108%;
}

h3 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(51, 62, 29);
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    font-size: 95%;
}

p {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    color: rgb(51, 62, 29);
}

/*header element*/
header {
    background-color: rgb(51, 62, 29);
    color: rgb(235, 254, 207);
    padding: 4px 10px 10px 10px;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 0px 0px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*controls text colour and size of header/logo*/
header a {
    text-decoration: none;
    color: #ebfecf;
    font-size: 140%;
}

.selected {
    text-decoration: underline;
    color: rgb(248, 158, 235);
}

#menu {
    font-size: smaller;
    letter-spacing: 2px;
    list-style-type: none;
}   

#menu button:hover {
    text-decoration: underline;
    color: rgb(248, 158, 235);
}

#menu > li {
    margin-bottom: 5px;
    text-align: center;
}

/*navbar styles including dropdown toggle across all platforms*/
nav {
    position: absolute;
    /*controls background colour of dropdown*/
    background-color: #333E1D;
    width: 100%;
    left: 0px;
    padding: 2rem 2rem;
    box-shadow: 0px 2px 0px 0px;
    display: none;
    top: 75%;
}

/*navbar toggle function styles*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
}


/*main element*/
main {
    flex: 1 auto;
    margin-top: 40px;
}

#reasons {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 25px;
    padding: 16px;
    font-size: 95%;
}

#benefits-mental>div,
#benefits-physical>div {
    flex-direction: row;
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits-mental>p,
#benefits-physical>p {
    flex-direction: column;
    padding: 0 20px;
}

hr {
    border-top: 1px solid #333E1D;
    margin: 3px 0;
}

/*hero image styles in main css no media queries.*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/kale.webp") no-repeat center center/cover;
    position: relative;
}

/*The 'a' in rgba stands for alpha and controls opacicity of element*/
#cover-text {
    background-color: rgba(51, 62, 29, .8);
    font-size: 100%;
    position: absolute;
    bottom: 45px;
    min-height: 150px;
    width: 65%;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

#circle-cover-background {
    height: 70vw;
    width: 70vw;
    background: url("../images/wall-basket.webp") no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 5%;
    max-width: 450px;
    max-height: 450px;
    align-self: center;
}

#reason-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

/*footer element*/
#social-media {
    display: flex;
    list-style-type: none;
    background-color: #333E1D;
    color: rgb(235, 254, 207);
    text-align: center;
    padding: 15px 0;
    justify-content: space-evenly;
}

#social-media i {
    padding: 7px 7px 7px 7px;
}

/*target this about section for the base css of the document to do with about page. This isn't to do with media queries.*/
#about {
    display: flex;
    margin: 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#about-image {
    height: 90vh;
    width: 100%;
    background: url("../images/lavender-field.webp") no-repeat top center/cover;
    margin: 30px;
    max-width: 600px;
    max-height: 300px;
}

#quick-tips {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 55px;
}

#sign-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 150%;
        letter-spacing: 3px;
        text-align: center;
}

/*media queries to adjust mobile design to larger screen sizes*/
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: sticky;
        box-shadow: none;
        width: fit-content;
        padding: 1rem;
        font-size: medium;
    }

    header a {
        text-decoration: none;
        color: #ebfecf;
        font-size: 100%;
    }

    #menu {
        display: flex;
        text-align: end;
        font-size: medium;
    }

    #menu > li {
        padding-left: 10px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 215%;
        margin: 0;
    }

    /*hero image*/
    #cover-text {
        width: 313px;
        right: 213px;
        margin: 2px 2px 2px 2px;
        text-align: center;
    }

    h2 {
        font-size: 195%;
    }

    #reasons {
        font-size: 115%;
    }

    /*benefit section*/
    #benefits-mental,
    #benefits-physical {
        display: flex;
        flex-direction: column;
        width: 65%;
        font-size: larger;
    }

    #benefits-mental > div,
    #benefits-physical > div {
        width: 75%;
    }

    #benefits-physical {
        align-self: flex-end;
    }

    #footer {
        margin-top: 25px;
    }

    #section {
        display: flex;
    }

    #about {
        margin: 60px;
        text-align: center;
    }

    #club-box {
        padding: 30px;
    }

    #sign-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 150%;
        letter-spacing: 3px;
    }

    #quick-tips {
        max-width: 800px;
        padding: 80px;
    }
}

/*media query for screens 1200 pixels and upwards*/
@media screen and (min-width: 1200px) {

    /*header*/
    nav {
        display: block;
        position: sticky;
        box-shadow: none;
        width: fit-content;
        font-size: large;
    }

    header a {
        font-size: 150%;
    }

    #menu {
        font-size: x-large;
    }
    
    #menu > li {
        padding-left: 30px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
    }

    /*hero image*/
    #cover-text {
        width: 491px;
        height: 356px;
        font-size: 250%;
    }

    #main {
        margin-top: 110px;
    }
    #reasons > h2 {
        font-size: 250%
    }

    #reasons > h3 {
        font-size: 180%;
    }

    /*benefit section*/
    #reasons {
        font-size: 150%;
        margin: 35px 90px 35px 90px;
        padding: 5px 120px 5px 120px;
    }
    #reasons image {
        order: 0;
    }

    #benefits-mental {
        align-self: flex-start;
    }

    #benefits-physical {
        order: 1;
        align-self: flex-end;
    }

    #club-box {
        width: 800px;
    }
    #about-image {
        width:200%;
        max-width: 800px;
        max-height: 300px;
    }
    #about {
        text-align: center;
        font-size: larger;
        margin: 100px 200px 79px 200px;
    }

    #quick-tips {
        text-align: center;
        max-width: 800px;
        margin: 10px 320px 10px 320px;
        font-size: 140%;
    }
   
    #sign-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 150%;
        letter-spacing: 3px;
    }
}
