/*Google Font Import always goes at the top of stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Spectral+SC:wght@600&display=swap');

/*Asterisk wildcard element, targets all elements of the page*/
* {
    margin: 0;
    box-sizing: border-box;
}

/*body element*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebfecf;
    color: black;
    font-family: "PT Sans", sans-serif;
}

/*header element*/
header {
    background-color: #333E1D;
    color: #ebfecf;
    padding: 10px 10px;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 4px 2px 20px 0px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*controls text colour*/
header a {
    text-decoration: none;
    color: #ebfecf;
    font-size: 160%;
}

.selected {
    text-decoration: underline;
    color: rgb(248, 158, 235);
}

#menu {
    font-size: medium;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/*navbar styles including dropdown toggle across all platforms*/
nav {
    position: absolute;
    /*controls background colour of dropdown*/
    background-color: #333E1D;
    width: 100%;
    left: 0;
    padding: 1rem 1rem;
    box-shadow: 4px 2px 20px 0px;
    display: none;
    top: 100%;
}

/*navbar toggle function styles*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

h1 {
    font-family: "Spectral SC", serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #ebfecf;
}

/*main element*/
main {
    flex: 1 auto;
    background-color: #ebfecf;
    display: flex;
    margin-top: 197px;
}

/*footer element*/
#social-media {
    list-style-type: none;
    background-color: #333E1D;
    color: #ebfecf;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-media i {
    font-size: 150%;
    padding:10px 10px 10px 10px;
    margin: bottom 25px;
    
}

/*media queries to adjust mobile design to larger screen sizes*/
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.5rem 0 0.5rem 0;
    }
}

/*larger devices 992px and upwards*/
@media screen and (min-width: 992px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    nav li a:hover {
        border-bottom: 2px solid rgb(248, 158, 235);
    }

    main {
        margin-top: 135px;
    }
}